
@import (less) "../../node_modules/bootstrap/less/bootstrap";
@import (less) "./includes/mobile.less";

@brand-color: #A5E41C;

.avatarWrapper {
  padding-top: 30px;
  .avatarIcon {
    width: 80px;
  }
}

.chatBox{
  height: 70vh;
  border:solid 1px black;
}

.controlBox{
  padding:30px;
}


.list-group {
  .isMe {
    text-align: right;
  }
  img.chatAvatar {
    width: 40px;
    margin-right: 20px;
  }
  .chatName {
    font-size: 18px;
    font-weight: bold;
  }
  .chatContent {
    font-size: 18px;
  }
}